		html {
		    font-size: 14px;
		}

        .outer {
            font-size: 2rem;
        }

img {
    box-sizing: border-box;
    margin: 20px;
}


.header, .footer{
    height: 100px;
    width: 100vw;
    position: fixed;

    left: 0;
    background: #333;
}
.header{
    top: 0;
}
.footer{
    bottom: 0;
}

.card {
     width: 350px;
     height: 50px;
     padding: 9px; /* dodanie wypełnienia o szerokości 20px z każdej strony */
     margin: 20px; /* dodanie marginesu o szerokości 20px z każdej strony */
     border: 18px dotted grey;
}

		/*input[type="text"], label{
			color: lightgreen;
			background-color: #aaffcc;
		}*/
		body {
  			/*background-color: rgba(70%, 10%, 40%, 0.3);*/
  			animation-name: color;
  			animation-duration: 5s;
  			animation-iteration-count: infinite;
  			background: url('homer.gif') no-repeat center center fixed;
            background-size: auto;
  			/*background-image: url("homer.gif");
  			background-position: fixed;
  			background-repeat: no-repeat;
  			background-size: auto;*/
  			        padding-top: 150px;
  			        padding-bottom: 150px;


		}

		@keyframes color {
  			0% {
    			background-color: #00ff33;
  			}
  			25%{
  			    background-color: #450011;
  			}
  			50% {
    			background-color: #ffbb11;
  			}
  			75%{
  			    background-color: #321f00;
  			}
  			100 {
    			background-color: #00ff33;
  			}
		}

		@keyframes button-color {
  			0% {
    			background-color: #aa00bb;
  			}
  			50% {
    			background-color: #ffbb11;
  			}
  			100 {
    			background-color: #aa00bb;
  			}
		}
		@keyframes text-color {
  			0% {
    			color: #f00000;
  			}
  			50% {
    			color: #00a811;
  			}
  			100 {
    			color: #f00000;
  			}
		}
		p{
			color: red;
		}
		.blue{
			color: blue;
			background-color: coral;
		}
		h1, h2, h3{
			color: #ccddee;
		}
		table{
			background-color: #99bb44;
			color: #ee4900;
		}

	button{
		font-size: 72px;
		font-family: 'Ranchers', sans-serif;
		animation-name: button-color, text-color;
  			animation-duration: 2s;
  			animation-iteration-count: infinite;
	}

input:disabled {
  background: #456622;
}